<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- hibernate.cfg.xml -->
<!-- The root tag begins the conguration for th ibernate app --> 

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		
		<property name = "hibernate.dialect">
		org.hibernate.dialect.Oracle10gDialect
		</property>
		
		<property name="hibernate.connection.url">
		jdbc:oracle:thin:@localhost:1521:xe
		</property>
		
		<property name="hibernate.connection.username">
			chrisp
		</property>
		
		<property name="hibernate.connection.password">
			password
		</property>
		
		<property name="hibernate.connection.pool_size">
			3
		</property>
		
		<property name="show_sql">
			true
		</property>
	
		<property name="hibernate.hbm2ddl.auto">
			create	
		</property>
		
		<!--  <mapping resource="person.hbm.xml"></mapping> -->
		
		<mapping class ="com.revature.beans.Person"></mapping>
	</session-factory>
</hibernate-configuration>